<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('hello')}}">CSC 447: Final Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('get_all_verbs')}}">Verb list example</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('get_verb')}}">Verb entry example</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('create_frameset')}}">Create frameset</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('create_annotation')}}">Annotate sentence</a>
            </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">
        const input = document.getElementById('lemmainput');
        const datalist = document.getElementById('lemmas');
        input.addEventListener('input', updateValue);

        function updateValue(e) {
            var adesse_select = document.getElementById('verb_senses');
            var data = {
                verblemma : e.target.value
            }
            $.ajax({
                    type: "GET",
                    url: "/adesse",
                    data: data,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(result) {
                        result['adesse_verb_senses'].forEach(function (item, index){
                            var option = document.createElement('option');
                            option.value = item[1];
                            adesse_select.appendChild(option);
                        });
                    },
                    error: function(result) {
                        alert("jQuery Error:" + result.statusText);
                    }
            });
                }
    </script>
  </body>
</html>